* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "LexendZetta";
    src: url(/assets/font/LexendZetta-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Monserrat";
    src: url(/assets/font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(/assets/font/Poppins-Regular.ttf);
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    top: 0;
    z-index: 100;
}

.nav-icon {
    align-items: center;
    background: url("/assets/nav-logo.png") no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    align-items: center;
    width: 8vw;
    height: 4vw;
    transition: 0.2s ease-in-out;
}

.nav-icon:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7))
    drop-shadow(0 0 10px rgba(0, 0, 0, 0.7))
    drop-shadow(0 0 15px rgba(180, 179, 179, 0.7));
}

.nav-menu{
    display: flex;
    justify-content: space-evenly;
}

.nav-link{
    margin: 0 2rem;
    font-family: "Monserrat", sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: black;
    position: relative;    
    letter-spacing: 0.5px;
    text-decoration: none;
}

.nav-link::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -10px;
    transition: 0.3s;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
}

.navbar-button-text{
    text-decoration: none;
}

.travelnow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    color: #FAF3E0;
    border: none;
    cursor: pointer;
    width: 10vw;
    height: 3.5vw;
    border-radius: 40px;
    font-size: 18px;
    transition: 0.2s ease-in-out;
    text-decoration: none !important;
    font-family: "Monserrat", sans-serif;
    position:relative;
    box-shadow:-2px 2px 2px #ccc;
    overflow: hidden;
}

.travelnow-btn::after{
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.travelnow-btn:hover::after, button:focus::after {
  animation: travelnowanim 1s forwards;
}
@keyframes travelnowanim {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.travelnow-btn:active{
  box-shadow:0px 0px 0px white;
  -webkit-box-shadow: inset -2px 2px 2px #ccc;
  -moz-box-shadow:    inset -2px 2px 2px #ccc;
  box-shadow:         inset -2px 2px 2px #ccc;
  transform:translate(0, 2px);
}

button:focus{
  outline:0;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 25px;
    background-color: black;
    margin: 2px 0;
    transition: 0.2s;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #ECECEC;
    padding: 3rem 8rem;
}

.footer-logo{
    width: 9vw;
    margin-bottom: 20px;
}

.footer p{
    font-family: "Poppins";
    font-size: 13px;
    color: grey;
    margin-bottom: 15px;
}

.icon{
    display: flex;
    gap: 1rem;
}

.icon img{
    width: 22px;
    height: 22px;
}

.icon img:hover{
    transition: ease-in 0.2s;
    transform: scale(1.2);
}

.travel{
    font-family: "Poppins";
    padding: 1.5rem;
}

.travel h1{
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
}

.container{
    display: flex;
    border-radius: 20px;
    /* gap: 20px; */
    justify-content: start;
    padding: 2rem;
    margin:  1rem 2.5rem;
    width: fit-content;
    /* gap: 50px; */
    margin-bottom: 1rem;
    border-color: #A3A3A3;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(16, 7, 7, 0.5) ;
    
}

.form{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
}

.form input{
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 1rem 2rem;
    margin-top: 5px;
    font-size: 12px;
}

.book-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    color: #FAF3E0;
    border: none;
    cursor: pointer;
    width: 10vw;
    height: 3.5vw;
    border-radius: 40px;
    font-size: 16px;
    transition: 0.2s ease-in-out;
    text-decoration: none !important;
    font-family: "Monserrat", sans-serif;
    position:relative;
    box-shadow:-2px 2px 2px #ccc;
    overflow: hidden;
}

.book-btn::after{
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.book-btn:hover::after, button:focus::after {
  animation: travelnowanim 1s forwards;
}
@keyframes travelnowanim {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.book-btn:active{
  box-shadow:0px 0px 0px white;
  -webkit-box-shadow: inset -2px 2px 2px #ccc;
  -moz-box-shadow:    inset -2px 2px 2px #ccc;
  box-shadow:         inset -2px 2px 2px #ccc;
  transform:translate(0, 2px);
}

@media (max-width: 768px) {
    .travelnow-btn {
        display: none;
    }

    .navbar{
        padding: 1rem 2rem;
        justify-content: space-evenly;
    }

    .nav-menu .login-btn {
        display: flex !important;
        justify-content: center;
    }

    .nav-link {
        margin: 1.5rem;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: fixed;
        top: 120px;
        background-color: white;
        z-index: 100;
        padding: 0 8rem;
        border-radius: 20px;
        border: 1px solid black;
    }

    .hamburger {
        display: flex;
        margin-left: auto;
    }

    .nav-menu.active {
        display: flex;
        animation: forwards 0.5s ease forwards;
    }

    
    @keyframes dropDown {
        from {
        opacity: 0;
        transform: translateY(-20px);
        }
        to {
        opacity: 1;
        transform: translateY(0);
        }
    }

    .login-btn {
        width: 25vw;
        height: 20vw;
    }

    .nav-icon {
        width: 15vw;
        height: 7.5vw;
    }

    .footer{
        padding: 3rem 4rem;
    }

    .footer-logo{
        width: 25vw;
    }


    .footer p{
    font-size: 8px;
    }

    .book-btn{
        padding: 1rem 2rem;
        font-size: 12px;
    }
}